<?xml version="1.0" encoding="UTF-8"?>
<?if $(var.Platform) = x64 ?>
<?define ProductName = "iSpy (64 bit)" ?>
<?define Win64 = "yes" ?>
<?define Bits = "64" ?>
<?define UpgradeCode = "70D791FD-67B0-444B-BDC1-ADF592557E88" ?>
<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
<?define ProductName = "iSpy (32 bit)" ?>
<?define Win64 = "no" ?>
<?define Bits = "32" ?>
<?define UpgradeCode = "B70B8F0F-48E1-4149-AD58-636704EA8215" ?>
<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?include "config.wxi"?>
  <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="!(bind.fileVersion.iSpy.exe)" Manufacturer="DeveloperInABox" UpgradeCode="70D791FD-67B0-444B-BDC1-ADF592557E88">
    <Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" Manufacturer="DeveloperInABox" Platform="$(var.Platform)" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of iSpy is already installed." AllowDowngrades="no" />
    <MediaTemplate EmbedCab="yes" />
    
    <Binary Id="WixCA.CA.dll" src="..\WixCA\bin\$(var.Configuration)\WixCA.CA.dll" />
    <Property Id='CONFIGFILELOCATION' Value='[SourceDir]' />
    <CustomAction Id="SetProperty" Execute="immediate"
                        Property="CA_myCustomAction"
                        Value="InstallDir=[MergeRedirectFolder];SourceDir=[CONFIGFILELOCATION]" />
    <CustomAction Id="CA_myCustomAction"
        BinaryKey="WixCA.CA.dll"
        DllEntry="CopyCustomisationFiles"
        Execute="deferred" Impersonate="no"
        Return="check" />

    <InstallExecuteSequence>
      <Custom Action="SetProperty" After="CreateFolders">Not Installed</Custom>
      <Custom Action="CA_myCustomAction" Before="InstallFinalize">Not Installed</Custom>
    </InstallExecuteSequence>
    
    <Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1">
      <ComponentGroupRef Id="HarvestedComponents" />
      <ComponentGroupRef Id="FFMPEG" />
      <ComponentGroupRef Id="XML" />
      <ComponentGroupRef Id="ispyserver" />
      <ComponentGroupRef Id="backgrounds" />
      <ComponentGroupRef Id="plugins" />
      <ComponentGroupRef Id="sounds" />
      <ComponentGroupRef Id="webserverroot" />
      <ComponentGroupRef Id="masks" />
      <ComponentGroupRef Id="data" />
      <ComponentGroupRef Id="api" />
      <ComponentGroupRef Id="commands" />
      <ComponentGroupRef Id="audio" />
      <ComponentGroupRef Id="video" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
    </Feature>
    <Feature Id="VCRedist" Title="Visual C++ 10.0 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
      <MergeRef Id="VCRedist" />
    </Feature>
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\dialog.bmp" />
    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch $(var.ProductName)" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
    <Property Id="WixShellExecTarget" Value="[#iSpy.exe]" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_45_OR_LATER_INSTALLED" />
    <Condition Message="This application requires .NET Framework 4.5. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_45_OR_LATER_INSTALLED]]>
    </Condition>
    <Icon Id="icon.ico" SourceFile="$(var.OutputDir)\ispy.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="iSpy" />
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop"></Directory>
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="ParentFolder" Name="iSpy">
          <Directory Id="INSTALLFOLDER" Name="iSpy">
            <Directory Id="XML" Name="XML" />
            <Directory Id="WebServerRoot" Name="WebServerRoot">
              <Directory Id="Data" Name="data" />
              <Directory Id="api" Name="api">
                <Directory Id="Sources" Name="sources">
                  <Directory Id="audio" Name="audio" />
                  <Directory Id="video" Name="video" />
                </Directory>
              </Directory>
            </Directory>
            <Directory Id="Sounds" Name="Sounds" />
            <Directory Id="Plugins" Name="Plugins" />
            <Directory Id="iSpyServer" Name="iSpyServer" />
            <Directory Id="Backgrounds" Name="Backgrounds" />
            <Directory Id="Masks" Name="Masks" />
            <Directory Id="Commands" Name="Commands" />
            <Directory Id="VLC" Name="VLC" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="{8370BFF0-35AF-4032-B4B4-06E2C4D91EB6}">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="$(var.ProductName)" Description="iSpy Video Surveillance Software" Target="[INSTALLFOLDER]iSpy.exe" WorkingDirectory="INSTALLFOLDER" />
        <Shortcut Id="ResetProduct" Name="$(var.ProductName) Reset" Description="iSpy Video Surveillance Software" Target="[INSTALLFOLDER]iSpy.exe" WorkingDirectory="INSTALLFOLDER" Arguments="-reset" />
        <Shortcut Id="SilentStart" Name="$(var.ProductName) Silent Start" Description="iSpy Video Surveillance Software" Target="[INSTALLFOLDER]iSpy.exe" WorkingDirectory="INSTALLFOLDER" Arguments="-silent" />
        <Shortcut Id="UninstallProduct" Name="Uninstall $(var.ProductName)" Description="Uninstalls $(var.ProductName)" Target="[SystemFolder]msiexec.exe" Arguments="/x [ProductCode]"/>
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\iSpy" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        <RegistryValue Root="HKCU" Key="Software\iSpy" Name="firstrun" Type="integer" Value="1" KeyPath="no" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationShortcutDesktop" Guid="{E8D23A43-1A37-4F26-8C4C-962FADB68BCF}">
        <Shortcut Id="ApplicationDesktopShortcut" Name="$(var.ProductName)" Description="iSpy Video Surveillance Software" Target="[INSTALLFOLDER]iSpy.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\iSpy64" Name="desktopsc" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="TARGETDIR">
      <Merge Id="VCRedist" SourceFile="$(var.iSpy.ProjectDir)Merge Modules\Microsoft_VC100_CRT_$(var.Platform).msm" DiskId="1" Language="0" />
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="FFMPEG" Directory="INSTALLFOLDER">
      <Component Win64="$(var.Win64)" Id="ComponentF9" Guid="{d539aedd-fad8-421a-ab16-6f3fa73d4e51}">
        <File Id="avcodec58.dll" Source="$(var.OutputDir)\avcodec-58.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="$(var.Win64)" Id="ComponentF10" Guid="{0333db2f-0995-48e5-b4b4-a49bfce1e81e}">
        <File Id="avdevice58.dll" Source="$(var.OutputDir)\avdevice-58.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="$(var.Win64)" Id="ComponentF11" Guid="{c1551352-4d52-4d35-aca8-3ca17078fc08}">
        <File Id="avfilter7.dll" Source="$(var.OutputDir)\avfilter-7.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="$(var.Win64)" Id="ComponentF12" Guid="{6be6482d-af43-4db4-9d04-e09ee6861284}">
        <File Id="avformat58.dll" Source="$(var.OutputDir)\avformat-58.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="$(var.Win64)" Id="ComponentF13" Guid="{efc1c63d-a379-4db4-8508-216af2de10b6}">
        <File Id="avutil56.dll" Source="$(var.OutputDir)\avutil-56.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="$(var.Win64)" Id="ComponentF15" Guid="{3ab9b0d7-cbc5-49ef-9b65-46a91b8ad4d6}">
        <File Id="ffmpeg.exe" Source="$(var.OutputDir)\ffmpeg.exe" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="$(var.Win64)" Id="ComponentF72" Guid="{ed73239a-0b67-49ab-99eb-11849d0f6a1f}">
        <File Id="postproc55.dll" Source="$(var.OutputDir)\postproc-55.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="$(var.Win64)" Id="ComponentF81" Guid="{327d6b2f-f6d9-402a-a7f0-9fd58c037ee1}">
        <File Id="swresample3.dll" Source="$(var.OutputDir)\swresample-3.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="$(var.Win64)" Id="ComponentF82" Guid="{a0255309-84dd-4e6f-9690-26af8fb94594}">
        <File Id="swscale5.dll" Source="$(var.OutputDir)\swscale-5.dll" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="XML" Directory="XML">
      <Component Win64="$(var.Win64)" Id="Component126" Guid="{8E75702E-8457-4982-B99C-E140A0D5B430}">
        <File Id="config.xml" Source="$(var.OutputDir)\XML\config.xml" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Component127" Guid="{B89C73E7-2E5A-4ADB-9B01-52C204F02D39}">
        <File Id="Log.txt" Source="$(var.OutputDir)\XML\Log.txt" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Component128" Guid="{CB8274E7-2FF2-4210-985F-233396279719}">
        <File Id="objects.xml" Source="$(var.OutputDir)\XML\objects.xml" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Component129" Guid="{6A13B8AB-4A7E-42DC-A879-6F9A45474FB1}">
        <File Id="PTZ2.xml" Source="$(var.OutputDir)\XML\PTZ2.xml" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Component130" Guid="{3B2AE5AF-F8C6-4DE2-A4CF-59C55E8F6FC5}">
        <File Id="Sources.xml" Source="$(var.OutputDir)\XML\Sources.xml" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Component131" Guid="{519CB7CE-645D-4235-9CDE-2DFC4B5F70FC}">
        <File Id="Translations.xml" Source="$(var.OutputDir)\XML\Translations.xml" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="ispyserver" Directory="iSpyServer">
      <Component Win64="$(var.Win64)" Id="iSpyServer" Guid="{CF42C96F-478F-4DEB-BF0B-D456CA88A742}">
        <File Id="ispyserver" Source="$(var.SolutionDir)\iSpyServer\iSpyServerSetup.msi" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="backgrounds" Directory="Backgrounds">
      <Component Win64="$(var.Win64)" Id="Component108" Guid="{08DB3B3C-E483-4ABA-9B4D-8489D6A0F146}">
        <File Id="FloorPlan_House.jpg" Source="$(var.OutputDir)\backgrounds\FloorPlan_House.jpg" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Component109" Guid="{DFB35626-A60A-4EF9-8FE5-677A445CD382}">
        <File Id="FloorPlan_House2.jpg" Source="$(var.OutputDir)\backgrounds\FloorPlan_House2.jpg" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Component110" Guid="{9428B3AE-7E8D-4338-AFB7-E0204E0E5E07}">
        <File Id="FloorPlan_Planet.jpg" Source="$(var.OutputDir)\backgrounds\FloorPlan_Planet.jpg" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="masks" Directory="Masks">
      <Component Win64="$(var.Win64)" Id="Component134" Guid="{5239bb7f-279d-4283-afca-d3a63da8150d}">
        <File Id="demo_mask.png" Source="$(var.OutputDir)\Masks\demo_mask.png" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="plugins" Directory="Plugins">
      <Component Win64="$(var.Win64)" Id="CompPluginReadme" Guid="{48eb36a2-a085-4bc3-83d6-fc29a9dd671c}">
        <File Id="plugin_readme.txt" Source="$(var.OutputDir)\Plugins\readme.txt" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="sounds" Directory="Sounds">
      <Component Win64="$(var.Win64)" Id="Component111" Guid="{98513797-E5E0-4F23-9C32-D42A56225BEF}">
        <File Id="airhorn.wav" Source="$(var.OutputDir)\sounds\airhorn.wav" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Component112" Guid="{F4383BE3-A460-4976-8B73-1FD0105D41ED}">
        <File Id="alarm.wav" Source="$(var.OutputDir)\sounds\alarm.wav" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Component113" Guid="{28BE7C2C-7E4E-4F22-BC51-0CB6C22C7782}">
        <File Id="alsationxsiberian_bark.wav" Source="$(var.OutputDir)\sounds\alsationxsiberian_bark.wav" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Component114" Guid="{56AED2AE-0E45-46C9-BE79-B69039C8F936}">
        <File Id="alsation_bark.wav" Source="$(var.OutputDir)\sounds\alsation_bark.wav" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Component115" Guid="{A86F7466-7791-45E3-8751-C46508364D7F}">
        <File Id="cairnterrierbark.wav" Source="$(var.OutputDir)\sounds\cairnterrierbark.wav" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Component116" Guid="{C673B60B-E3EC-4401-9B01-854ED8A0730A}">
        <File Id="doorbell.wav" Source="$(var.OutputDir)\sounds\doorbell.wav" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Component117" Guid="{E999786A-F255-4CA9-AFF3-A4B91B00D045}">
        <File Id="police.wav" Source="$(var.OutputDir)\sounds\police.wav" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Component118" Guid="{4E0E8F3E-4A4E-46F4-AA13-F54C5B768618}">
        <File Id="pop.wav" Source="$(var.OutputDir)\sounds\pop.wav" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Component119" Guid="{BE908B9D-6F85-4C12-A7CC-907ABCEADBFA}">
        <File Id="rottweiler_bark.wav" Source="$(var.OutputDir)\sounds\rottweiler_bark.wav" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Component120" Guid="{589DF0C8-54DE-441B-9BB4-4C3C2A56F71D}">
        <File Id="spanielgrowlbark.wav" Source="$(var.OutputDir)\sounds\spanielgrowlbark.wav" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Component121" Guid="{7F450B20-6565-41C4-B62A-CC366F57F32D}">
        <File Id="wiggle.wav" Source="$(var.OutputDir)\sounds\wiggle.wav" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="webserverroot" Directory="WebServerRoot">
      <Component Win64="$(var.Win64)" Id="Component122" Guid="{A13DDE4F-31B6-461F-B3B4-F8ABF690333A}">
        <File Id="crossdomain.xml" Source="$(var.OutputDir)\webserverroot\crossdomain.xml" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Component123" Guid="{663614E3-14EF-4D44-BD83-47F7E73F2F53}">
        <File Id="favicon.ico" Source="$(var.OutputDir)\webserverroot\favicon.ico" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Win64="$(var.Win64)" Id="Component125" Guid="{5B51CF60-3290-4CF0-BD3A-50BB20A7AE4E}">
        <File Id="notfound.jpg" Source="$(var.OutputDir)\webserverroot\notfound.jpg" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="api" Directory="api">
      <Component Win64="$(var.Win64)" Id="Component155" Guid="{B86BC788-AF20-40E7-A08B-16BC007A25A2}">
        <File Id="api.json" Source="$(var.OutputDir)\WebServerRoot\api\api.json" KeyPath="yes" Checksum="yes" />
        </Component>
      <Component  Win64="$(var.Win64)" Id="Component156" Guid="{6098258E-DFBC-4802-946C-4BDF8F3DCFD4}">
        <File Id="editaction.json" Source="$(var.OutputDir)\WebServerRoot\api\editaction.json" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component  Win64="$(var.Win64)" Id="Component157" Guid="{C4EC0AA3-6C12-42AF-A5D7-BE5B28A31854}">
        <File Id="editaudiosource.json" Source="$(var.OutputDir)\WebServerRoot\api\editaudiosource.json" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component  Win64="$(var.Win64)" Id="Component158" Guid="{7211F111-672C-43A1-9992-30E372639763}">
        <File Id="editcamera.json" Source="$(var.OutputDir)\WebServerRoot\api\editcamera.json" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component  Win64="$(var.Win64)" Id="Component159" Guid="{4BBD7631-3F20-4A12-9E40-B4595D6E0FE9}">
        <File Id="editftp.json" Source="$(var.OutputDir)\WebServerRoot\api\editftp.json" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component  Win64="$(var.Win64)" Id="Component160" Guid="{8B9762E7-5C7D-48B7-B9E0-512BD083F3EF}">
        <File Id="editmicrophone.json" Source="$(var.OutputDir)\WebServerRoot\api\editmicrophone.json" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component  Win64="$(var.Win64)" Id="Component161" Guid="{73AEDB4C-2B96-46C8-AB93-E364551B268A}">
        <File Id="editpelco.json" Source="$(var.OutputDir)\WebServerRoot\api\editpelco.json" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component  Win64="$(var.Win64)" Id="Component162" Guid="{53D4B499-8350-4144-9979-3CA33E350C4A}">
        <File Id="editptzschedule.json" Source="$(var.OutputDir)\WebServerRoot\api\editptzschedule.json" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component  Win64="$(var.Win64)" Id="Component163" Guid="{0594B227-EDC7-4743-88EB-7F631B854AE1}">
        <File Id="editschedule.json" Source="$(var.OutputDir)\WebServerRoot\api\editschedule.json" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component  Win64="$(var.Win64)" Id="Component164" Guid="{18420E58-769F-4778-B549-6D68C7127646}">
        <File Id="editstorage.json" Source="$(var.OutputDir)\WebServerRoot\api\editstorage.json" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component  Win64="$(var.Win64)" Id="Component165" Guid="{8929CFEE-663B-4558-95B6-B62B334E6DDF}">
        <File Id="editvideosource.json" Source="$(var.OutputDir)\WebServerRoot\api\editvideosource.json" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component  Win64="$(var.Win64)" Id="Component166" Guid="{611C241B-9BD5-4F96-8181-F14996B42326}">
        <File Id="settings.json" Source="$(var.OutputDir)\WebServerRoot\api\settings.json" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component  Win64="$(var.Win64)" Id="Component167" Guid="{A487CDB9-85A7-48D4-A15D-8347B92844C1}">
        <File Id="showactions.json" Source="$(var.OutputDir)\WebServerRoot\api\showactions.json" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component  Win64="$(var.Win64)" Id="Component168" Guid="{7B24068A-75AE-4D36-A606-016D3460E71E}">
        <File Id="showptzschedule.json" Source="$(var.OutputDir)\WebServerRoot\api\showptzschedule.json" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component  Win64="$(var.Win64)" Id="Component169" Guid="{35096DC8-1E6D-4AC7-AA04-123DAC2F0C4B}">
        <File Id="showschedule.json" Source="$(var.OutputDir)\WebServerRoot\api\showschedule.json" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="audio" Directory="audio">
      <Component  Win64="$(var.Win64)" Id="Component170" Guid="{7BAE575E-E0CD-44FA-B2D2-B50D0E61B8E6}">
        <File Id="a_0json" Source="$(var.OutputDir)\WebServerRoot\api\sources\audio\0.json" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component  Win64="$(var.Win64)" Id="Component171" Guid="{253DA905-1D29-41D2-8CAD-C242BC8AE18C}">
        <File Id="a_1json" Source="$(var.OutputDir)\WebServerRoot\api\sources\audio\1.json" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component  Win64="$(var.Win64)" Id="Component172" Guid="{B2E169BA-603C-47B0-AFA7-1DC7A8560D05}">
        <File Id="a_2json" Source="$(var.OutputDir)\WebServerRoot\api\sources\audio\2.json" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component  Win64="$(var.Win64)" Id="Component173" Guid="{860B8D81-6D47-4363-A306-E8851DED9022}">
        <File Id="a_3json" Source="$(var.OutputDir)\WebServerRoot\api\sources\audio\3.json" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component  Win64="$(var.Win64)" Id="Component174" Guid="{BE388955-AF7F-4BA1-9A0F-C92C3E8EA7D2}">
        <File Id="a_4json" Source="$(var.OutputDir)\WebServerRoot\api\sources\audio\4.json" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component  Win64="$(var.Win64)" Id="Component175" Guid="{A7527C8C-3CD1-40EC-B188-1586948A5C79}">
        <File Id="a_5json" Source="$(var.OutputDir)\WebServerRoot\api\sources\audio\5.json" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="video" Directory="video">
      <Component  Win64="$(var.Win64)" Id="Component176" Guid="{EBBA8600-F049-43FA-BDA6-3DC511BABB4E}">
        <File Id="v_0json" Source="$(var.OutputDir)\WebServerRoot\api\sources\video\0.json" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component  Win64="$(var.Win64)" Id="Component177" Guid="{3D23E618-0B79-4CB1-AD1B-D458EAD2C05C}">
        <File Id="v_1json" Source="$(var.OutputDir)\WebServerRoot\api\sources\video\1.json" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component  Win64="$(var.Win64)" Id="Component178" Guid="{2AB49810-E76B-4924-AEDE-A74E65A3B670}">
        <File Id="v_10json" Source="$(var.OutputDir)\WebServerRoot\api\sources\video\10.json" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component  Win64="$(var.Win64)" Id="Component179" Guid="{2BAD75E7-304B-4D01-AD8F-42712D86A5C1}">
        <File Id="v_12json" Source="$(var.OutputDir)\WebServerRoot\api\sources\video\12.json" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component  Win64="$(var.Win64)" Id="Component180" Guid="{0D98234E-7C80-4D3A-9A39-1417D943AEA8}">
        <File Id="v_2json" Source="$(var.OutputDir)\WebServerRoot\api\sources\video\2.json" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component  Win64="$(var.Win64)" Id="Component181" Guid="{13C219B2-1A5B-448E-A10A-DE3D435A287B}">
        <File Id="v_3json" Source="$(var.OutputDir)\WebServerRoot\api\sources\video\3.json" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component  Win64="$(var.Win64)" Id="Component182" Guid="{5AA6442E-C1FC-4042-A893-79FCB1248160}">
        <File Id="v_4json" Source="$(var.OutputDir)\WebServerRoot\api\sources\video\4.json" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component  Win64="$(var.Win64)" Id="Component183" Guid="{C2860DB0-FD30-44F4-8569-F963187C5208}">
        <File Id="v_5json" Source="$(var.OutputDir)\WebServerRoot\api\sources\video\5.json" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component  Win64="$(var.Win64)" Id="Component184" Guid="{09B84814-C038-485F-A02F-37BDD48E38E1}">
        <File Id="v_6json" Source="$(var.OutputDir)\WebServerRoot\api\sources\video\6.json" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component  Win64="$(var.Win64)" Id="Component185" Guid="{AD47D118-ECAC-427A-9D3F-3D3A44508396}">
        <File Id="v_7json" Source="$(var.OutputDir)\WebServerRoot\api\sources\video\7.json" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component  Win64="$(var.Win64)" Id="Component186" Guid="{FB7CD4F3-B7B7-4F5A-A0BC-C64B798FDE2E}">
        <File Id="v_8json" Source="$(var.OutputDir)\WebServerRoot\api\sources\video\8.json" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component  Win64="$(var.Win64)" Id="Component187" Guid="{220CE382-B0A7-4DA7-B1A5-C19C21F37E3E}">
        <File Id="v_9json" Source="$(var.OutputDir)\WebServerRoot\api\sources\video\9.json" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="data" Directory="Data">
      <Component Win64="$(var.Win64)" Id="Component132" Guid="{E216B6CF-E7BB-490F-80F7-00EEBFCE4C35}">
        <File Id="mime.dat" Source="$(var.OutputDir)\webserverroot\data\mime.dat" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="commands" Directory="Commands">
      <Component Win64="$(var.Win64)" Id="Component189" Guid="{8ED14B16-827A-46C2-BD8A-4906F40FBBE4}">
        <File Id="example.bat" Source="$(var.OutputDir)\Commands\example.bat" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>


</Wix>